<!-- <main class="container"> 
    
    <form action="" class="container">
    <div>
        <h1> Seleccione una suscripcion</h1>
    </div>
        <div>
            <div>Plan Free</div>
        <p>Conversiones : 5 por mes</p>
        <button (click)="CambiarCategoria(1)">Seleccionar</button>
    </div>
    <div>
        <p>Plan Premiun</p>
        <p>Conversiones: 20 por mes</p>
        <button (click)="CambiarCategoria(2)">Seleccionar</button>
    </div>
    <div>
        <div>Plan VIP</div>
        <p> Conversiones ilimitadas</p>
        <button (click)="CambiarCategoria(3)">Seleccionar</button>
    </div>
</form>
    
</main> -->

<div id="container">
    <main>

        <div class="flex-column">
            
            
            <p>
                Seleccione una suscripcion
            </p>
            <label for="user" class="sr-only"><div>Plan Free</div>
                <p>Conversiones : 5 por mes</p></label>
                <button (click)="CambiarCategoria(1)">Seleccionar</button>
                
                <label for="nombre" class="sr-only"><p>Plan Premiun</p>
                    <p>Conversiones: 20 por mes</p></label>
                    <button (click)="CambiarCategoria(2)">Seleccionar</button>
                    
            <label for="password" class="sr-only"><div>Plan VIP</div>
                <p> Conversiones ilimitadas</p></label>
                <button (click)="CambiarCategoria(3)">Seleccionar</button>
                
                
                
                
                
            </div>
        </main>
</div>
